@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');



/* Font*/
@font-face {
  font-family: 'Poppins-Regular'; 
  src: url('font/Poppins font/Poppins-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light'; 
  src: url('font/Poppins fonts/Poppins-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Black'; 
  src: url('font/Poppins fonts/Poppins-Black.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Italic'; 
  src: url('font/Poppins fonts/Poppins-Italic.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Neucha-Regular'; 
  src: url('font/Neucha/Neucha-Regular.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}



body{
  padding: 10px;
  background-color: #EEEAE1;
}
.navbar {
    background-color: #1C1B19; /* Background color for the navbar */
    color: #fff; /* Text color for the navbar items */
    overflow: hidden;
    border-radius: 10px;
  }

  /* Style for the button */
 .button {
    float: right;
    padding: 10px 20px ;
    background-color: #EEEAE1; /* Background color for the button */
    border: none;
    color: #1C1B19; /* Text color for the button */
    margin-right: 5%;
    margin-top: 14px;
    height: 40px;
    font-family:  'Poppins-Regular', sans-serif;
    font-size: 12px;
    border-radius: 7px;
    transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
    cursor: pointer; /* Add a transition effect */
  }



.button:hover {
  background-color: #ffcd39; /* Change the background color on hover */
  color: #1C1B19; /* Change the text color on hover */
  box-shadow: 0 0 10px #ffcd39; /* Apply the glow effect on hover */
}


  /* Style for the logo */
  .navbar .logo {
     float: left;
    padding: 20px;
    height: 30px;
    width: 100px;
   
  }

  /* Style for the navigation menu items */
  .navbar .menu {
    list-style-type: none;
    margin: 0;
    padding: 25px ;
  }

  .navbar .menu li {
    display: inline;
    margin-right: 2px; /* Add some spacing between menu items */
    
  }

  .navbar .menu li a {
    text-decoration: none;
    color: #fff; /* Text color for the menu items */
    margin-left: 10%;
    padding-left: 30px;
    font-family:  'Poppins-Regular', sans-serif;
    font-size: 13px;
    transition: color 0.3s, text-shadow 0.3s; /* Add a transition effect */
  }

/* Apply the glow effect on hover */
.navbar .menu li a:hover {
  color: #ffcd39; /* Change the text color on hover */
  text-shadow: 0 0 10px #ffcd39; /* Apply the glow effect on hover */
}

 /* Style for the search bar container */
 .search-bar-container {
  float: right;
  margin-top: 22px;
  margin-right: 33%; /* Adjust the right margin for spacing */
  border: 1px solid #85837D;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #EEEAE1;
  width: 400px;
  position: relative;
  font-family:  'Poppins-Regular', sans-serif;
}

/* Style for the search icon */
.search-icon::before {
  content: "";
  background-image: url('images/search.png'); /* Replace 'search-icon.png' with your icon's URL */
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

/* Style for the search input */
.search-input {
  padding-left: 35px; /* Adjust left padding for the icon */
  width: 100%; /* Adjust the width of the input field */
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 12;
  font-family:  'Poppins-Regular', sans-serif;
}


.new{
  font-family:'Neucha-Regular'; 
  font-size: 72px;
  margin-left: 42%;
  margin-top: 10%;
  -webkit-text-stroke: 1px transparent; /* Transparent outline (for WebKit browsers) */
  text-stroke: 1px transparent; /* Transparent outline (for other browsers) */
  -webkit-background-clip: text;
  background-clip: text;
  transition: -webkit-text-stroke 0.3s, text-stroke 0.3s;
}

.skin{
  font-family:'Neucha-Regular'; 
  font-size: 150px;
  margin-left: 32%;
  margin-top: -8%;
  -webkit-text-stroke: 1px transparent; /* Transparent outline (for WebKit browsers) */
      text-stroke: 1px transparent; /* Transparent outline (for other browsers) */
      -webkit-background-clip: text;
      background-clip: text;
      transition: -webkit-text-stroke 0.3s, text-stroke 0.3s;
}

.new:hover, .skin:hover {
  -webkit-text-stroke: 1px #FFD700; /* Gold outline on hover (for WebKit browsers) */
  text-stroke: 1px #FFD700; /* Gold outline on hover (for other browsers) */
}

.left{
  margin-top: -20%;
  transition: transform 0.3s;
}
.left:hover {
  transform: translateY(-10px); /* Apply a vertical translation on hover */
}

.hero{
  margin-left: 35%;
  width: 400px;
  height: 500px;
  margin-top: -25%; 
  transition: transform 0.3s;
}
.hero:hover {
  transform: translateY(-20px); /* Apply a vertical translation on hover */
}
.group{
  margin-top: -41%;
  margin-left: 40%;
  font-family:'Neucha-Regular'; 
  font-size: 50px;
  font-weight: bold;
}

.right{
  margin-left: 80%;
  margin-top: -500px;
  transition: transform 0.3s;
}

.right:hover {
  transform: translateY(-10px); /* Apply a vertical translation on hover */
}

.button1 {
  padding: 10px 20px ;
  background-color: #1C1B19; /* Background color for the button */
  border: none;
  color: #EEEAE1; /* Text color for the button */
  margin-left: 45%;
  margin-top: 35%;
  height: 40px;
  font-family:  'Poppins-Regular', sans-serif;
  font-size: 10px;
  border-radius: 20px;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; 
  cursor: pointer;/* Add a transition effect */
}

.button1:hover {
background-color: #ffcd39; /* Change the background color on hover */
color: #1C1B19; /* Change the text color on hover */
box-shadow: 0 0 10px #ffcd39; /* Apply the glow effect on hover */
}


.box{
 background-color: #1C1B19; 
 height: 400px;
 padding-top: 2px;
 padding-bottom: 50px;
 margin-top: 10%;
 border-radius: 20px;
}
.container {
  border: 0.5px solid #1C1B19; /* Border style for the container */
  padding: 20px;
  width: 400px;
  transform: skewY(8deg); /* Apply a skew effect */
  background-color: #EEEAE1;
  height: 220px;
  border-radius: 20px;
  margin-left: 35%;
  margin-top: 8%;
  transition: transform 0.3s;
}

.container:hover {
  animation: shake 0.3s ease infinite; /* Apply the shake animation on hover */
}

@keyframes shake {
  0% {
    transform: skewY(8deg); /* Initial position */
  }
  25% {
    transform: skewY(12deg); /* Shake to the right */
  }
  50% {
    transform: skewY(8deg); /* Return to the center */
  }
  75% {
    transform: skewY(4deg); /* Shake to the left */
  }
  100% {
    transform: skewY(8deg); /* Return to the center */
  }
}

.title {
  font-family:'Neucha-Regular';  /* Specify the font for the title */
  font-size: 40px;
  margin: 0;
  color: #1C1B19; /* Text color for the title */
  word-spacing: 20px;
  margin-left: 23%;
}

.text {
  font-family: 'Poppins-Black', sans-serif;
  font-weight: bold; /* Specify the font for the text */
  font-size: 13px;
  color:#1C1B19 ;
  margin-left: 18%; /* Text color for the text */
}

.text1 {
  font-family: 'Poppins-Black', sans-serif;
  font-weight: bold; /* Specify the font for the text */
  font-size: 20px;
  color:#1C1B19 ;
  margin-left: 24%; /* Text color for the text */
  margin-top:15% ;
}

.button2{
  margin-left: 40%;
  background-color: #1C1B19;
  border-radius: 50%;
  height: 40px;
  width: 43px;
  border: none;
  margin-top: -50%;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s; 
  cursor: pointer;
  color: #EEEAE1;
}

.button2:hover {
  background-color: #ffcd39; /* Change the background color on hover */
  color: #1C1B19; /* Change the text color on hover */
  box-shadow: 0 0 10px #ffcd39; /* Apply the glow effect on hover */
}

.pics{
  width: 1000px;
}

.best{
  margin-left: 30%;
  margin-top: 5%;
  font-family:'Neucha-Regular';  /* Specify the font for the title */
  font-size: 70px;
  color: #1C1B19; /* Text color for the title */
}
.msg{
  margin-left: 32%;
  width: 500px;
  margin-top: -5%;
  font-family: 'Poppins-Regular', sans-serif;
 
}

.small{
  width:400px;
  height: 500px;
  margin-left: 17%;
  margin-top: 3%;
}

.small1{
  width:400px;
  height: 500px;
  margin-left: 55%;
  margin-top: -10%px;
}



